<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>To: <%= @email_to %></p>
    <p>From: <%= @email_from %></p>
    <p>Subject: <%= @subject %></p>
    <p>Message: <%= @message %></p>
  </body>
</html>