<%= render "shared/nav" %>
<%= render "shared/partial_hero__portfolio" %>
<div class="container">

	<div class="request-table" data-example-id="hoverable-table"> 
		<table class="table table-hover"> 
			<thead> 
				<tr> 
					<th>#</th>
					<th>First Name</th> 
					<th>Last Name</th> 
					<th>Booking Type</th>
					<th>Status</th>
					<th>Date requested</th>
				</tr> 
			</thead> 
				<tbody>
					<% @bookings.each do |booking| %>
					<tr> 
						<th scope="row">
						<% if booking.user_id == @user.id %>
							<a class="url" rel="contact" title="" href="<%= user_reviews_path(User.find(booking.requestor_id)) %>">
							<% if User.find(booking.requestor_id).avatar.present? %>
									<%= image_tag User.find(booking.requestor_id).avatar_url(:thumb), alt: "#{User.find(booking.requestor_id).firstname.titleize} #{User.find(booking.requestor_id).lastname.titleize}", :id => "avatar", :style => "height: 32px; width: 32px; margin-top: -5px;" , class: "img-circle" %>
								<% else %>	
									<span class="circle"><span><%= User.find(booking.requestor_id).firstname[0].upcase %></span></span>
								<% end %>
							</a>
						<% else %>
							<a class="url" rel="contact" title="" href="<%= user_reviews_path(User.find(booking.user_id)) %>">
							<% if User.find(booking.user_id).avatar.present? %>
									<%= image_tag User.find(booking.user_id).avatar_url(:thumb), alt: "#{User.find(booking.user_id).firstname.titleize} #{User.find(booking.user_id).lastname.titleize}", :id => "avatar", :style => "height: 32px; width: 32px; margin-top: -5px;" , class: "img-circle" %>
								<% else %>	
									<span class="circle"><span><%= User.find(booking.user_id).firstname[0].upcase %></span></span>
								<% end %>
							</a>						
						<% end %>
						</th>  
						<td><%= booking.requestor_id == @user.id ? User.find(booking.user_id).firstname.titleize : User.find(booking.requestor_id).firstname.titleize %></td> 
						<td><%= booking.requestor_id == @user.id ? User.find(booking.user_id).lastname.titleize : User.find(booking.requestor_id).lastname.titleize %></td>
						<td><%= booking.requestor_id == @user.id ? "Sent" : "Received" %> 
						<td>
							<% if booking.accepted_status == nil && booking.user_id == @user.id %>
									<span style="font-style: italic;">Pending: </span>
									<span><%= link_to 'Accept', update_booking_path(current_user, :booking_id => booking.id, :accepted_status => true), :method => :put %></span>
									<span><%= link_to 'Reject', update_booking_path(current_user, :booking_id => booking.id, :accepted_status => false), :method => :put %></span>
							<% elsif booking.accepted_status %>
								Accepted
							<% elsif booking.accepted_status == nil %>
								Pending
							<% else %>
								Rejected
							<% end %>
						</td>
						<td><%= booking.date_booked.strftime("%b %d, %Y") %></td> 
					</tr>
					<% end %>
				</tbody> 
		</table> 
	</div>	

</div>