<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <!-- <form class="form-horizontal" action="" method="post"> -->
          <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
          <fieldset>
            <legend class="text-center">Account Settings</legend>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Email</label>
              <div class="col-md-9">
                <%= f.text_field :email, id:"email", class:"form-control", placeholder:"Email", :required => true %>
              </div>
            </div>

            <!-- FirstName input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="firstname">First Name</label>
              <div class="col-md-9">
                <%= f.text_field :firstname, id:"firstname", class:"form-control", placeholder:"First Name", :required => true %>
              </div>
            </div>

            <!-- Last Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="lastname">Last Name</label>
              <div class="col-md-9">
              <%= f.text_field :lastname, id:"lastname", class:"form-control", placeholder:"Last Name", :required => true  %>
              </div>
            </div>

            <!-- City input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="city">City</label>
              <div class="col-md-9">
              <%= f.text_field :city, id:"city", class:"form-control", placeholder:"City", :required => true  %>
              </div>
            </div>

            <!-- State input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="state">State</label>
              <div class="col-md-9">
              <%= f.text_field :state, id:"state", class:"form-control", placeholder:"State", :required => true  %>
              </div>
            </div>

            <!-- Country input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="country">Country</label>
              <div class="col-md-9">
              <%= f.text_field :country, id:"country", class:"form-control", placeholder:"Country", :required => true  %>
              </div>
            </div>

            <% if @user.is_photographer %>
              <!-- Only display is user is a photographer -->
              <!-- Rate input-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="rate">Rate</label>
                <div class="col-md-9">
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <%= f.number_field :rate, min:"0", id:"rate", class:"form-control", placeholder:"Amount"  %>
                    <div class="input-group-addon">.00</div>
                  </div>
                </div>
              </div>

              <!-- For Hire-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="hire">For Hire?</label>
                <div class="col-md-9">
                  <label class="checkbox-inline">
                    <%= f.radio_button :for_hire, true %> Yes
                  </label>
                  <label class="checkbox-inline">
                  <%= f.radio_button :for_hire, false %> No
                  </label>
                </div>
              </div>

              <!-- Studio-->
              <div class="form-group">
                <label class="col-md-3 control-label" for="studio">Studio?</label>
                <div class="col-md-9">
                  <label class="checkbox-inline">
                    <%= f.radio_button :studio, true %> Yes
                  </label>
                  <label class="checkbox-inline">
                    <%= f.radio_button :studio, false %> No
                  </label>
                </div>
              </div>
            <% end %>

            <!-- Description body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Description</label>
              <div class="col-md-9">
                <%= f.text_area :description, placeholder: "Tell everyone why you are amazing!", class: "form-control", rows: "5", maxlength: "360" %>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
              </div>
            </div>
          </fieldset>
          <% end %>
        </div>
      </div>
  </div>
</div>
