<!DOCTYPE html>
<html>
<head>
  <title>Coming Soon!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>

  div.dialog {
    width: 95%;
    max-width: 37em;
    margin: 4em auto 0;
  }

  div.dialog > div {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    border-top: #B00100 solid 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: white;
    padding: 7px 12% 0;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

  div.dialog > p {
    margin: 0 0 1em;
    padding: 1em;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-color: #DADADA;
    color: #666;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }
  </style>
</head>

<body>

  <div class="dialog">
    <div>
      <h3 class="text-center">Under Construction</h3>
      <p class="lead text-center">This page is unavilable or is coming soon</p>
    </div>
    <p class="lead text-center">Thank you</p>
  </div>
</body>
</html>
