    </div> <!--/ .page-container -->

    <footer>
        <div class="container">
        	<div class="row">
	        	<div class="col-sm-6">
	        		<div class="text-xs-center text-sm-left">	
	        			<div class="brand">
	        				<%= image_tag("site_assets/logo-dark.png", alt: "Photocray Logo") %> 
	        				<p>Show and tell for photographers</p>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="col-sm-6">
	        		<div class="text-xs-center text-sm-right">	
			        	
			        	<ul class="list-inline social-media">
			        		<li> <a href="#0" target="_blank"> <i class="fa fa-facebook"></i> </a> </li>
			        		<li> <a href="#0" target="_blank"> <i class="fa fa-twitter"></i> </a> </li>
			        		<li> <a href="#0" target="_blank"> <i class="fa fa-instagram"></i> </a> </li>
			        	</ul>

			        	<div class="copyright">Copyright &copy; 2015 Photography. All photos &copy; their respective owners. </div>
		        	</div>	
	        	</div>
        	</div>
        </div>
    </footer>
