<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<%= form_tag('/login', :method => :post, :id => "login-form") do %>
									<div class="form-group">
										<%= text_field_tag :username, nil, placeholder: "username", :style => "width: 100%;", tabindex: "1", class: "form-control" %>
									</div>
									<div class="form-group">
										<%= password_field_tag :password, nil, placeholder: "password", :style => "width: 100%;", tabindex: "2", class: "form-control" %>
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<%= submit_tag "Log In", id:"login-submit", tabindex:"4", class:"form-control btn btn-login" %>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								<% end %>
								<%= form_for @user, html: {id:"register-form", role:"form", style:"display: none;"} do |f| %>
									<div class="form-group">
										<%= f.text_field :firstname, id:"firstname", :required => true, :style => "width: 100%;", tabindex:"1", class:"form-control", placeholder:"First Name" %>
									</div>
									<div class="form-group">
										<%= f.text_field :lastname, id:"lastname", :required => true, :style => "width: 100%;", tabindex:"2", class:"form-control", placeholder:"Last Name" %>
									</div>																	
									<div class="form-group">
										<%= f.text_field :username, id:"username", :required => true, :style => "width: 100%;", tabindex:"3", class:"form-control", placeholder:"Username" %>
									</div>
									<div class="form-group">
										<%= f.text_field :email, id:"email", :required => true, :style => "width: 100%;", tabindex:"4", class:"form-control", placeholder:"Email Address" %>
									</div>
									<div class="form-group">
										<%= f.password_field :password, id:"password", :required => true, :style => "width: 100%;", tabindex:"5", class:"form-control", placeholder:"Password" %>
									</div>
									<div class="form-group">
										<%= f.password_field :password_confirmation, id:"confirm-password", :required => true, :style => "width: 100%;", tabindex:"6", class:"form-control", placeholder:"Confirm Password" %>
									</div>
									<div class="form-group center-block">
										<%= f.label :is_photographer, class:"checkbox-inline" do %>
											<%= f.check_box :is_photographer, id:"is_photographer", tabindex:"7" %>
											Photographer?
										<% end %>
									</div>
									<%= f.hidden_field :rate, :value => 0 %>
									<%= f.hidden_field :for_hire, :value => false %>
									<%= f.hidden_field :studio, :value => false %>						
									<div class="form-group">
										<%= f.submit "Register Now", name:"register-submit", id:"register-submit", tabindex:"8", class:"form-control btn btn-register" %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
