<div id="shot-menu" class="menu">
  <div class="container">
    <%= form_for_filterrific @filterrific do |f| %>

      <div class="row">
          <div class="col-sm-6 col-md-3">
            <label>Categories</label>
            <div class="form-group">
              <span class="caret caret-double"></span>
              <%= f.select(:with_category, @filterrific.select_options[:with_category], { include_blank: 'All' }, { :class => 'form-control select-control' }) %>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-3">
            <label>Sort By</label>
            <div class="form-group">
                <span class="caret caret-double"></span>
                <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], { include_blank: 'Distance' }, { :class => 'form-control select-control' }) %>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <label>Type</label>
            <div class="form-group">
              <span class="caret caret-double"></span>
              <%= f.select(:with_studio, @filterrific.select_options[:with_studio], { include_blank: 'All' }, { :class => 'form-control select-control' }) %>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
             <label>Availability</label>
            <div class="form-group">
              <span class="caret caret-double"></span>
              <%= f.select(:for_hire, @filterrific.select_options[:for_hire], { include_blank: 'All' }, { :class => 'form-control select-control' }) %>
            </div>
          </div>
        </div>  
        <div class="row">
          
          <div class="col-sm-6 col-md-3">
            <label>Address</label>
            <div class="form-group">
              <span class="fa fa-map-marker fa-lg"></span>
              <%= f.text_field :search_address, :class => 'form-control address', :placeholder => 'City Address' %>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-3">
            <label>Date</label>
            <div class="form-group">
              <span class="fa fa-calendar-o fa-lg"></span>
              <%= f.text_field :date_needed, :id => 'datepicker1', :class => 'form-control address datepicker', :placeholder => 'Date Needed' %>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="form-group slider">
               <div class="input-holder">
                <label id="label-rates">Hourly Rate: $200 and less</label>
                <!-- <input type="text" class="slider-amount" readonly /> -->
              </div>
              <div class="slider-holder">
                <%= f.range_field :hourly_rate, in: 0..200, :step => 5, :value => 200, :id => "slider-rates" %> 
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <%= link_to'Reset filters', reset_filterrific_url, class: "btn btn-primary pull-md-right form-control mg-t-20" %>
              </div>
          </div>
            
      </div>
      
      <% end %>
    </div><!--/ .container -->
  </div>
</div><!--/ .navigation -->