          <nav class="navbar navbar-fixed-top">
            <div class="container">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle__left">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  <%= image_tag("site_assets/logo.png", alt: "Photocray Logo") %> 
                </a>
              </div>

              <div id="meta" class="activity">
                 <ul class="nav navbar-nav navbar-right">
                     
                    <li class="search hidden-xs"> 
                      <a href="#" id="search-btn"> 
                        <i class="fa fa-lg fa-search"></i>
                      </a>
                      <div class="search-form search-hidden">
                        <div class="form-group">
                          <%= form_tag url_for(controller: "search", action: "index"), method: "get" do %>
                            <div class="input-holder">
                              <%= button_tag '<i class="fa fa-search"></i>'.html_safe, name: nil %>
                              <%= search_field_tag :query, params[:query], class: 'form-control search-field' %>
                            </div>
                          <% end %>  
                        </div>                       
                      </div>
                    </li>
                  <% if current_user %>
                    <li class="notify dropdown dropdown-hover"> 
                      <a href="#"> 
                        <i class="fa fa-lg fa-bell"><span class="notify-dot is-active"></span></i>
                        
                      </a>
                      <ul class="dropdown-menu" role="menu">
                      <% if user_activities(current_user).length > 4 %>
                        <div style="height: 232px; overflow: auto">
                      <% end %>
                          <% user_activities(current_user).each do |activity| %>
                            <% if activity.activity_type == 'like' %>
                              <li class="like">
                                <i class="notify-icon color-danger fa fa-heart"></i>
                                <div class="notify-info">
                                  <span class="vcard">
                                    <a class="url" rel="contact" href="<%= user_path(activity.from) %>"><%= User.find(activity.from).firstname.titleize %></a>
                                  </span>
                                  <span>liked your</span>
                                  <a href="<%= photo_path(activity.activity_id) %>">photo</a>
                                  <em class="time"><%= time_ago_in_words(activity.created_at) %></em>
                                </div>
                              </li>
                            <% elsif activity.activity_type == 'follower' %>
                              <li class="follow">
                                <i class="notify-icon fa fa-child"></i>
                                <div class="notify-info">
                                  <span class="vcard">
                                    <a class="url" rel="contact" href="<%= user_path(activity.from) %>"><%= User.find(activity.from).firstname.titleize %></a>
                                  </span>
                                  <span>followed</span>
                                  <a href="<%= user_followers_path(current_user) %>">You</a>
                                  <em class="time"><%= time_ago_in_words(activity.created_at) %></em>
                                </div>
                              </li>
                            <% elsif activity.activity_type == 'comment' %>
                              <li class="comment">
                                <i class="notify-icon fa fa-comment"></i>
                                <div class="notify-info">
                                  <span class="vcard">
                                    <a class="url" rel="contact" href="<%= user_path(activity.from) %>"><%= User.find(activity.from).firstname.titleize %></a>
                                  </span>
                                  <span>commented on your</span>
                                  <a href="<%= photo_path(activity.activity_id) %>">Photo</a>
                                  <em class="time"><%= time_ago_in_words(activity.created_at) %></em>
                                </div>
                              </li>
                            <% elsif activity.activity_type == 'review' %>
                              <li class="mention">
                                <i class="notify-icon fa fa-pencil-square-o"></i>
                                <div class="notify-info">
                                  <span class="vcard">
                                    <a class="url" rel="contact" href="<%= user_path(activity.from) %>"><%= User.find(activity.from).firstname.titleize %></a>
                                  </span>
                                  <span>reviewed</span>
                                  <a href="<%= user_reviews_path(current_user) %>">You</a>
                                  <em class="time"><%= time_ago_in_words(activity.created_at) %></em>
                                </div>
                              </li>
                            <% elsif activity.activity_type == 'booking' %>
                              <li class="mention">
                                <i class="notify-icon color-success fa fa-check"></i>
                                <div class="notify-info">
                                  <span class="vcard">
                                    <a class="url" rel="contact" href="<%= user_path(activity.from) %>"><%= User.find(activity.from).firstname.titleize %></a>
                                  </span>
                                  <span>booked</span>
                                  <a href="<%= user_bookings_path(current_user) %>">You</a>
                                  <em class="time"><%= time_ago_in_words(activity.created_at) %></em>
                                </div>
                              </li>
                            <% end %>
                          <% end %>
                      <% if user_activities(current_user).length > 4 %>
                        </div>
                      <% end %>
                        <li class="more"><a href="<%= user_analytics_path(current_user) %>">See All Incoming Activity</a></li>
                      </ul>

                    </li>
                  <% end %>
                  <% if current_user %>  
                    <li class="profile dropdown dropdown-hover">
                      <a href="<%= current_user.is_photographer ? user_path(current_user) : user_reviews_path(current_user) %>">
                      <% if current_user.avatar.present? %>
                        <%= image_tag current_user.avatar_url(:thumb), alt: "#{current_user.firstname.titleize} #{current_user.lastname.titleize}", :id => "avatar", :style => "height: 32px; width: 32px; margin-top: -5px;" , class: "img-circle" %>
                      <% else %>  
                        <div id="avatar-nav">
                          <%= image_tag("user_profiles/default-avatar.jpg", alt: "avatar", :id => "avatar-image-nav", :style => "height: 32px; width: 32px; margin-top: -5px;", :class => "img-circle") %>
                          <p id="avatar-text-nav"><%= current_user.firstname[0].upcase %></p>
                        </div>
                      <% end %>                      
                      </a>
                      <ul class="dropdown-menu" role="menu" style="top:51px">
                        <li><a href="<%= user_path(current_user) %>">Profile</a></li>
                        <li><a href="<%= user_following_path(current_user) %>">Friends</a></li>
                        <li><a href="<%= edit_user_path(current_user) %>">Account Settings</a></li>
                        <li><a href="<%= user_analytics_path(current_user) %>">Stats</a></li>
                        <li><a href="<%= logout_path %>">Sign Out</a></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if !current_user %>
                    <li><a href="<%= new_user_path %>">Login</a></li>
                  <% end %>                  
                 </ul>
              </div>

              <div id="navigation" class="offcanvas">
                <ul class="nav navbar-nav">
                  <li class="search visible-xs-block"> 
                    <div class="search-form">
                      <div class="form-group">
                        <div class="input-holder">
                          <button type="submit"> <i class="fa fa-search"></i> </button>
                          <input type="search" class="form-control search-field" placeholder="Search something..." /> 
                        </div>
                      </div> 
                    </div>                  
                  </li>
                  <li class="<%= 'active' if is_photos_page? %>"><a href="<%= root_path %>">Photos</a></li>
                  <li class="<%= 'active' if is_photographers_page? %>"><a href="<%= users_path %>">Photographers</a></li>
                  <% if false %>
                    <li class="<%= 'active' if is_meetups_page? %>"><a href="<%= home_meetups_path %>">Meetups</a></li>
                    <li class="<%= 'active' if is_jobs_page? %>"><a href="<%= home_jobs_path %>">Jobs</a></li>
                    <li class="dropdown dropdown-hover">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
                        <span class="icon-dot"></span> 
                        <span class="icon-dot"></span> 
                        <span class="icon-dot"></span> 
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li class="<%= 'active' if is_about_page? %>"><a href="<%= home_about_path %>">About</a></li>
                        <li class="<%= 'active' if is_contests_page? %>"><a href="<%= home_contests_path %>">Contests</a></li>
                        <li class="<%= 'active' if is_blog_page? %>"><a href="<%= home_blog_path %>">Blog</a></li>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </div><!--/ .navigation -->

            </div>
          </nav>