<% if @user.hero_bg.present? %>
  <div class="hero portfolio" style="background-image: url('<%= @user.hero_bg %>'); ">
<% else %>
  <div class="hero portfolio default-hero">
<% end %>
  	<div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-2"></div>
        <div class="col-md-2">
          <% if current_user && current_user.id == @user.id %>
            <%= form_tag({controller: :users, action: :upload_avatar}, id: "upload_avatar_form", multipart: true) do %>
              <% if @user.avatar.present? %>
                <a href="" id="upload_avatar_link"><%= image_tag @user.avatar_url(:thumb), alt: "#{@user.firstname.titleize} #{@user.lastname.titleize}", id: "avatar", class: "photo center-block img-circle", style: "height:80px; width:80px" %></a>
              <% else %>
                <a href="" id="upload_avatar_link">
                  <%= image_tag "user_profiles/default.png", alt: "#{@user.firstname.titleize} #{@user.lastname.titleize}", style: "height:80px; width:80px; opacity:0.3", id: "avatar", class: "photo center-block img-circle" %> 
                </a>
              <% end %>
              <%= file_field_tag 'avatar', id: "upload_avatar", onchange: "$('#upload_avatar_form').submit();" %>
            <% end %>
          <% else %>
              <%= image_tag @user.avatar_url(:thumb), alt: "#{@user.firstname.titleize} #{@user.lastname.titleize}", id: "avatar", class: "photo center-block img-circle", style: "height:80px; width:80px" if @user.avatar.present? %>
          <% end %>     
        </div>
      </div>   
  		<h1 class="hero--header has-subheader"><%= @user.firstname.titleize %> <%= @user.lastname.titleize %></h1>
  		<h2 class="hero--subheader">
        <span><%= @user.is_photographer ? 'Photographer' : 'Client' %></span> &bull; 
        <span><%= @user.city.titleize %>, <%= @user.state %> United States</span>
      </h2>
      <% if @user.is_photographer %>
        <h2 class="hero--subheader">
          <span>$<%= @user.rate %>/hr</span> &bull; 
          <% if @user.for_hire %><span>For Hire</span> &bull; <% end %>
          <% if !@user.for_hire %><span>Not For Hire</span> &bull; <% end %>
          <% if @user.studio %><span>Has Studio</span> <% end %>
          <% if !@user.studio %><span>No Studio</span> <% end %>
        </h2>
      <% end %>
  		<div class="hero--description">
  			<p><%= @user.description %></p>
          <% if current_user && current_user.id == @user.id %>
            <%= form_tag({controller: :users, action: :upload_hero_bg}, id: "upload_hero_bg_form", multipart: true) do %>
              <a href="" id="upload_hero_bg_link"><span> <i class="fa fa-cloud-upload"></i> </span></a>
              <%= file_field_tag 'hero_bg', id: "upload_hero_bg", onchange: "$('#upload_hero_bg_form').submit();" %>
            <% end %>
          <% end %>          
  		</div>
      <% if current_user != @user %>
        <div class="row">

          <div class="col-md-3 col-md-offset-3">
            <% if current_user && current_user.id != @user.id && get_booking_status(@user, current_user) %>
              <button type="button" class="btn btn-regular btn-block" data-toggle="modal" data-target="#quoteModal">Review this photographer</button>
            <% elsif current_user && current_user.id != @user.id && !get_booking_status(@user, current_user) %>
              <a href="#" class="btn btn-regular" data-toggle="tooltip" data-placement="bottom" title="Photographer must accept your request before you can leave a review!" disabled>Review this photographer</a>
            <% elsif !current_user %>
              <a href="<%= new_user_path %>" id="review-form-toggle" class="btn btn-regular btn-block">Login to leave a review</a>
            <% end %>

          </div>
          <div class="col-md-3">
              <%= form_tag url_for(:controller => "bookings", :action => "create", :user_id => @user.id), :method => "post", class: "form-inline" do %>
                  <div class="input-group">
                    <%= text_field_tag :date, "Select Date", id: 'datepicker2', class: 'form-control address datepicker' %>
                    <div class="input-group-btn">
                    <% if current_user %>  
                      <button type="submit" id="request-photographer" class="btn btn-regular" disabled><i class="fa fa-check"></i></button>
                    <% else %>
                      <a href="#" class="btn btn-regular" data-toggle="tooltip" data-placement="bottom" title="You must be logged in to hire a photographer!" disabled><i class="fa fa-check"></i></a>
                    <% end %>
                    </div>
                  </div>
              <% end %>
              <%= content_tag "div", id: "dates_booked", data: {dates: @user.bookings.select(:id, :date_booked, :accepted_status)} do %>
              <% end %>
          </div>  
        </div>
      <% end %>
  	</div>
  </div>

<div id="portfolio-menu" class="menu">
  <div class="container">
  	 <ul class="nav navbar-nav">   
      <% if @user.is_photographer %>
    		<li><a href="<%= user_path(@user) %>"><i class="fa fa-fw fa-camera"></i> <%= pluralize(@user.photos.count, 'Shot','Shots') %></a></li>
      <% end %>
      <% if current_user && current_user.id == @user.id  && @user.is_photographer %>
    		<li><a href="<%= user_bookings_path(@user) %>"><i class="fa fa-fw fa-check"></i> <%= pluralize(user_total_bookings(@user), 'Booking','Bookings') %></a></li>
      <% end %>
      <li><a href="<%= user_reviews_path(@user) %>"><i class="fa fa-fw fa-pencil-square-o"></i> <%= pluralize(user_total_reviews(@user), 'Review','Reviews') %></a></li>
  		<li><a href="<%= user_following_path(@user) if @user %>"><i class="fa fa-fw fa-male"></i> <%= pluralize(user_total_following(@user), 'Friend', 'Friends') %></a></li>
  		<li><a href="<%= user_followers_path(@user) if @user %>"><i class="fa fa-fw fa-child"></i> <%= pluralize(user_total_followers(@user), 'Fan', 'Fans') %></a></li>
      <% if @user.is_photographer %>
        <li><a href="<%= user_projects_path(@user) %>"><i class="fa fa-fw fa-photo"></i> <%= pluralize(user_total_projects(@user), 'Project','Projects') %></a></li>
      <% end %>      
  		<% if current_user && current_user.id == @user.id  && @user.is_photographer %>
  			<li>
  				<%= link_to ' Add new project', {:controller => "projects", :action => "add_project"}, method: :post, class: "fa fa-plus" %>
				</li>
  		<% end %>

      <% if current_user && current_user != @user %>
        <% if current_user.follows.exists?(:followed_id => @user.id) %>
          <li><%= link_to " Unfollow", {:controller => "users", :action => "unfollow", :followed_id => @user.id, :follower_id => current_user.id}, method: :delete, class: "fa fa-minus" %></li>
        <% else %>
          <li><%= link_to " Follow", {:controller => "users", :action => "add_follow", :followed_id => @user.id}, method: :post, class: "fa fa-plus" %></li>
        <% end %>
      <% end %>

  	</ul>	
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="quoteModalLabel">Review @<%= @user.username %></h4>
      </div>
      <div class="modal-body">

        <%= form_tag(user_reviews_path(@user), :method => :post, :id => "review-form") do %>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <%= text_area_tag :body, params[:body], style: "resize:vertical;", class: 'form-control', rows: 10, placeholder: 'Start typing...', :required => true %>
            </div>
          </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-regular" data-dismiss="modal">Close</button>
        <%= submit_tag 'Post Review', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
