<div class="hero" style="">
	<div class="container">
		<h1 class="hero--header">Hire a great Photographer or Videographer</h1>
		<ul class="hero--btn list-inline">
			<li> <a href="<%= users_path %>" class="btn">Find People</a> </li>
		</ul>
	</div>
</div>