<div class="shots">
	<div class="container">
	<p><%= page_entries_info @follows, :model => 'user' %></p>
		<div class="row">
		<% @follows.each do |user| %>

			<div class="shot-column col-sm-6 col-md-4">
				<div class="shot">
					<a href="<%= user.is_photographer ? user_path(user) : user_reviews_path(user) %>" class="shot-figure" style="background-image: url(<%= user.photos.count > 0 ? user.photos.first.original_url(:small) : user.hero_bg.present? ? user.hero_bg : image_url('site_assets/hero-bg-small-default.jpg') %>)">
					</a>
					<div class="shot-info">				
						<div class="avatar-user">
							<a class="url" rel="contact" title="" href="<%= user.is_photographer ? user_path(user) : user_reviews_path(user) %>">
								<% if user.avatar.present? %>
									<%= image_tag user.avatar_url(:thumb), alt: "#{user.firstname.titleize} #{user.lastname.titleize}", id: "avatar", class: "photo" %>
								<% else %>	
									<span class="circle"><span><%= user.firstname[0].upcase %></span></span>
								<% end %>
								<%= user.firstname.titleize %> <%= user.lastname.titleize %>
								<small class="avatar-meta block"><%= user.city.titleize %>, <%= user.state %> United States</small>
							</a>
						</div>

						<ul class="tools">
							<li><%= user.is_photographer ? 'Photographer' : 'Client' %></li>
							<% if current_user && is_following_page? %>
						  	<li class="pull-right">
									<%= link_to ' Unfollow', {:controller => "users", :action => "unfollow", :follower_id => current_user.id, :followed_id => user.id}, method: :delete, class: "fa fa-minus-circle" %>					
						  	</li>
					  	<% end %>
						</ul>
					</div>
				</div>
			</div> <!--/ .col-* -->
		<% end %>

		</div> <!--/ .row -->

		<div class="text-center">
			<%= will_paginate @follows, renderer: BootstrapPagination::Rails %>				
		</div>
 
	</div>
</div>	