<div class="attachment">
	<div class="container-fluid">

		<div class="row">

			<div id="column-viewer" class="col-sm-9 col-sm-push-3 col-md-10 col-md-push-2">
				<div id="viewer">
					<div class="viewer-img">
						<img src="<%= @fullsize.original_url(:large) %>" alt="" />
					</div>
				</div>
			</div>

			<div id="column-details" class="col-sm-3 col-sm-pull-9 col-md-2 col-md-pull-10">
				<div class="details">
					<a href="/" class="brand">
						<%= image_tag("site_assets/logo.png", class: "center-block", alt: "Photocray Logo") %> 
					</a>

					<div class="attachment-info">
						<div class="attachment-user">
							<a class="url" rel="contact" title="" href="<%= user_path(@fullsize.user) %>">
								<% if @fullsize.user.avatar.present? %>
									<%= image_tag @fullsize.user.avatar_url(:thumb), alt: "#{@fullsize.user.firstname.titleize} #{@fullsize.user.lastname.titleize}", id: "avatar", class: "photo" %>
								<% else %>	
									<span class="circle"><span><%= @fullsize.user.firstname[0].upcase %></span></span>
								<% end %>								
								<%= Project.find(@fullsize.project_id).category %>
								<a href="<%= user_path(@fullsize.user) %>" class="attachment-meta block"> <span>by</span> <%= @fullname %></a>
							</a>
						</div>

						<ul class="attachment-tools">
						  <li class="fav"> 
						    <span title="See fans of this screenshot" href="#"><i class="fa fa-eye"></i> <%= pluralize(@fullsize.impressionist_count, 'view', 'views') %> </span>
						  </li>
						  <li class="cmnt">  
						    <span title="View comments on this screenshot" href="#"> <i class="fa fa-comment"></i> <%= @fullsize.user.comments.count %> comments</span>
						  </li>
						  <li class="views"> 
						  	<% if current_user %>
						  		<% if @fullsize.likes.exists?(:user_id => current_user.id) %>
						  			<span title="View likes on this screenshot"><%= link_to '<i class="fa fa-heart"></i>'.html_safe, {:controller => "photos", :action => "unlike", :photo => @fullsize.id}, method: :delete %><%= pluralize(@fullsize.likes.count, 'like', 'likes') %>  </span>
					  			<% else %>
						  			<span title="View likes on this screenshot"><%= link_to '<i class="fa fa-heart"></i>'.html_safe, {:controller => "photos", :action => "like", :photo => @fullsize.id}, method: :post %><%= pluralize(@fullsize.likes.count, 'like', 'likes') %>  </span>
					  			<% end %>
					  		<% else %>
					  			<span title="View likes on this screenshot" href="#"><i class="fa fa-heart"></i><%= pluralize(@fullsize.likes.count, 'like', 'likes') %></span>
					  		<% end %>
						  	</li>
						</ul>
					</div>
				</div>
			</div>

		</div>	 <!--/ .row -->
		
	</div>
</div>	