<div class="shots">
	<div class="container">
		<p><%= page_entries_info @projects, :model => 'project' %></p>
		<div class="row">
		<% @projects.each do |project| %>
			<div class="shot-column col-sm-6 col-md-4">
				<form action="/photo_contents" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
				  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
				  <input name="project_id" type="hidden" value="<%= project.id %>" />
				  <div class="fallback">
				    <input name="photo" id="upload" type="file" multiple />
				  </div>				
					<div class="shot">
						<% if project.photos.count > 0 %>
							<a href="<%= user_project_path(project.user, project.id) %>" class="shot-figure" style="background-image: url(<%= project.photos.first.original_url(:small) %>)">
						<% else %>
							<a href="#" class="shot-figure" style="background-image: url(/assets/site_assets/project-default.png)">
						<% end %>
						</a>
						<div class="shot-info">
							<div class="project">
								<% if current_user && current_user.id == @user.id %>
									<a href="#" class="project-title url" data-type="text" data-resource="project" data-name="title" data-url="/users/<%= current_user.id %>/projects/<%= project.id %>" data-original-title="Enter title"><%= project.title %></a>
									<a href="#" class="project-category url" data-type="select" data-resource="project" data-name="category" data-url="/users/<%= current_user.id %>/projects/<%= project.id %>" data-original-title="Select Category">
										<% if project.category %>
											<%= project.category %>
										<% else %>
											Select Category
										<% end %>
									</a>
								<% end %>
								<!-- <small class="project-meta block">Photography</small> -->
							</div>

							<ul class="tools">
							  <li class="fav"> <i class="fa fa-photo"></i> <%= project.photos.count %> Shots</a></li>
							  <% if current_user && current_user.id == @user.id %>
							  	<li class="fav pull-right">
							  		<%= link_to ' Delete', user_project_path(current_user, project), method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-remove" %>
							  	</li>
						  	<% end %>
							</ul>
						</div>
					</div>
				</form>	
			</div> <!--/ .col-* -->
		<% end %>

		</div> <!--/ .row -->

		<div class="text-center">
			<%= will_paginate @projects, renderer: BootstrapPagination::Rails %>				
		</div>

 	</div>
</div>	