<div class="shots">
	<div class="container">
		<p><%= page_entries_info @photos, :model => 'photo' %></p>
		<div class="row">
		<% @photos.each do |photo| %>
			<div class="shot-column col-sm-6 col-md-4">
				<div class="shot">
					<a href="<%= photo_path(photo) %>" class="shot-figure" style="background-image: url(<%= photo.original_url(:small) %>)">
					</a>
					<% if current_user %>
						<% if photo.likes.exists?(:user_id => current_user.id) %>
							<%= link_to '<span class="shot-heart-liked"> <i class="fa fa-heart"></i>  </span>'.html_safe, {:controller => "photos", :action => "unlike", :photo => photo.id}, method: :delete %>
						<% else %>
							<%= link_to '<span class="shot-heart"> <i class="fa fa-heart"></i>  </span>'.html_safe, {:controller => "photos", :action => "like", :photo => photo.id}, method: :post %>
						<% end %>
					<% end %>
					<div class="shot-info">

						<ul class="tools">
						  <li class="fav"> <i class="fa fa-eye"></i> 
						    <a title="See fans of this screenshot" href="#"><%= photo.impressionist_count %></a>
						  </li>
						  <li class="cmnt"> <i class="fa fa-comment"></i> 
						    <a title="View comments on this screenshot" href="#"><%= photo.comments.count %></a>
						  </li>
						  <li class="views"> <i class="fa fa-heart"></i> 
						  	<a title="View likes on this screenshot" href="#"><%= photo.likes.count %> </a></li>
						</ul>

					</div>
				</div>
			</div> <!--/ .col-* -->
		<% end %>	

		</div> <!--/ .row -->

		<div class="text-center">
			<%= will_paginate @photos, renderer: BootstrapPagination::Rails %>				
		</div>
 
	</div>
</div>	