<div class="shots">
	<div class="container">
		<p><%= page_entries_info @projects, :model => 'project' %></p>
		<div class="row">
		<% @projects.each do |project| %>
			<div class="shot-column col-sm-6 col-md-4">			
					<div class="shot stack">
						<% if project.photos.count > 0 %>
							<a href="<%= user_project_path(project.user, project.id) %>" class="shot-figure" style="background-image: url(<%= project.photos.first.original_url(:small) %>)">
						<% else %>
							<a href="#" class="shot-figure" style="background-image: url(/assets/site_assets/project-default.png)">
						<% end %>
						</a>
						<div class="shot-info">
							<div class="project">
									<a href="<%= user_project_path(@user, project) %>" class="url" data-type="text" data-resource="project" data-name="title" data-original-title="Enter title"><%= project.title %></a>
								<small class="project-meta block"><%= project.category %></small>
							</div>

							<ul class="tools">
							  <li class="fav"> <i class="fa fa-photo"></i> <%= project.photos.count %> Shots</a></li>
							</ul>
						</div>
					</div>
			</div> <!--/ .col-* -->
		<% end %>

		</div> <!--/ .row -->

		<div class="text-center">
			<%= will_paginate @projects, renderer: BootstrapPagination::Rails %>				
		</div>

 	</div>
</div>	