<div class="shots shot-single">
	<div class="container">

		<div class="shot-column">

			<div class="shot">
				<a target="_blank" href="<%= photo_fullsize_path(@photo) %>" data-toggle="tooltip" data-placement="bottom" title="See Full Pixel" class="shot-attachment"> <i class="fa fa-lg fa-paperclip"></i>  </a>
				<img src="<%= @photo.original_url(:medium) %>" alt="" class="center-block" />
			</div>

			<div class="row">

				<div class="col-sm-7">

					<div class="avatar-user">
						<div class="url" rel="contact" title="" href="portfolio">

							<% if @photo.user.avatar.present? %>
								<%= image_tag @photo.user.avatar_url(:thumb), alt: "#{@photo.user.firstname.titleize} #{@photo.user.lastname.titleize}", id: "avatar", class: "photo" %>
							<% else %>	
								<span class="circle"><span><%= @photo.user.firstname[0].upcase %></span></span>
							<% end %>			

							<% if current_user && current_user.id == @photo.user_id %>
								<a href="#" class="photo-title url" data-value="<%= @photo.title == "" || !@photo.title ? 'Enter Title' : @photo.title %>" data-type="text" data-resource="photo" data-name="title" data-url="/photos/<%= @photo.id %>" data-original-title="Enter Title"><%= @photo.title ? @photo.title : 'Enter Title' %></a>
							<% else %>
								<%= @photo.title == "" || !@photo.title ? Project.find(@photo.project_id).category : @photo.title %>
							<% end %>
							<a href="<%= user_path(@photo.user) %>" class="avatar-meta block"> <span>by</span> <%= @fullname %></a>
						</div>
					</div>


					<div class="shot-desc">

						<% if current_user && current_user.id == @photo.user_id %>
							<a href="#" class="photo-description url" data-value="<%= @photo.description == "" || !@photo.description ? 'Enter Description' : @photo.description %>" data-type="textarea" data-resource="photo" data-name="description" data-url="/photos/<%= @photo.id %>" data-inputclass="textarea-desc"><%= @photo.description ? @photo.description : 'Enter Description' %></a>
						<% else %>
							<p><%= @photo.description == "" || !@photo.description ? "No description available" : simple_format(@photo.description) %></p>
						<% end %>
					</div>

				</div>

				<div class="col-sm-4 col-sm-offset-1">
					<ul class="shot-tools">
					  <li class="fav"> 
					    <span title="See fans of this screenshot" href="#"><i class="fa fa-eye"></i> <%= pluralize(@photo.impressionist_count, 'view', 'views') %> </span>
					  </li>
					  <li class="cmnt">  
					    <a title="View comments on this screenshot" href="#comments" class="target"> <i class="fa fa-comment"></i> <%= pluralize(@photo.comments.count, 'comment', 'comments') %></a>
					  </li>
					  <li class="views">
					  	<% if current_user %>
					  		<% if @photo.likes.exists?(:user_id => current_user.id) %>
					  			<span title="View likes on this screenshot"><%= link_to '<i class="fa fa-heart"></i>'.html_safe, {:controller => "photos", :action => "unlike", :photo => @photo.id}, method: :delete, class: "single-photo-likes" %><%= pluralize(@photo.likes.count, 'like', 'likes') %> </span>
				  			<% else %>
					  			<span title="View likes on this screenshot"><%= link_to '<i class="fa fa-heart"></i>'.html_safe, {:controller => "photos", :action => "like", :photo => @photo.id}, method: :post, class: "single-photo-likes" %><%= pluralize(@photo.likes.count, 'like', 'likes') %> </span>
				  			<% end %>
				  		<% else %>
				  			<span title="View likes on this screenshot" href="#"><i class="fa fa-heart"></i><%= pluralize(@photo.likes.count, 'like', 'likes') %></span>
				  		<% end %>
					  </li>
					</ul>

				</div>

			</div>

			<div class="row">

				<div class="col-sm-7">

				<ul id="comments" class="shot-section shot-comments">
					<label><%= pluralize(@photo.comments.count, 'Comment','Comments') %></label>
					<% @photo.comments.each do |comment| %>
					<li>
						<a class="url" rel="contact" title="" href="<%= comment.user.is_photographer ? user_path(comment.user) : user_reviews_path(comment.user) %>">
							<% if comment.user.avatar.present? %>
								<%= image_tag comment.user.avatar_url(:thumb), alt: "#{comment.user.firstname.titleize} #{comment.user.lastname.titleize}", id: "avatar", class: "photo" %>
							<% else %>	
								<span class="circle"><span><%= comment.user.firstname[0].upcase %></span></span>
							<% end %>	
							<span class="name"><%= comment.user.firstname.titleize %> <%= comment.user.lastname.titleize %></span>
						</a>	
						<div class="comment-body">
							<p><%= simple_format(comment.comment) %></p>
						</div>

						<div class="comment-meta">
							<p><%= time_ago_in_words(comment.created_at) %></p>
						</div>
					</li>
					<% end %>

				</ul>
				<% if current_user %>
					<%= form_for [@photo, Comment.new] do |f| %>
					<div class="shot-section shot-form">
						<label>Add a new comment</label>
						<div class="form-group">
							<%= f.text_area :comment, placeholder: "What do you want to say?", class: "form-control", rows: "3" %>
						</div>
						<%= f.submit "Post Comment", class: "btn btn-primary" %>
					</div>
					<% end %>
				<% end %>
				</div>


				<div class="col-sm-4 col-sm-offset-1">
					<div class="shot-section shot-next-post">
						<label><%= pluralize(@photos.count, 'Related Shot', 'Related Shots') %></label>

						<% if @first %>
							<div class="shot-figure-holder">
								<a href="<%= photo_path(@first) %>" class="shot-figure" style="background-image: url(<%= @first.original_url(:small) %>)"></a>
							</div>
						<% end %>
						
						<% if @second %>
							<div class="shot-figure-holder">
								<a href="<%= photo_path(@second) %>" class="shot-figure" style="background-image: url(<%= @second.original_url(:small) %>)"></a>
							</div>
						<% end %>

					</div>
				</div>

			</div>

		</div>

	</div>
</div>	