<div id="filterrific_results" class="shots">
	<div class="container">
		<p><%= page_entries_info @photos, :model => 'photo' %></p>
		<div class="row">
		<% @photos.each do |photo| %>
			<div class="shot-column col-sm-6 col-md-4">
				<div class="shot">
					<a href="<%= photo_path(photo) %>" class="shot-figure" style="background-image: url(<%= photo.original_url(:small) %>)">
					</a>
					<% if current_user %>
						<% if photo.likes.exists?(:user_id => current_user.id) %>
							<%= link_to '<span class="shot-heart-liked"> <i class="fa fa-heart"></i>  </span>'.html_safe, {:controller => "photos", :action => "unlike", :photo => photo.id}, method: :delete %>
						<% else %>
							<%= link_to '<span class="shot-heart"> <i class="fa fa-heart"></i>  </span>'.html_safe, {:controller => "photos", :action => "like", :photo => photo.id}, method: :post %>
						<% end %>
					<% end %>
					<div class="shot-info">

						<div class="avatar-user">
							<a class="url" rel="contact" title="" href="<%= user_path(photo.user) %>">
								<% if photo.user.avatar.present? %>
									<%= image_tag photo.user.avatar_url(:thumb), alt: "#{photo.user.firstname.titleize} #{photo.user.lastname.titleize}", id: "avatar", class: "photo" %>
								<% else %>	
									<span class="circle"><span><%= photo.user.firstname[0].upcase %></span></span>
								<% end %>
								<%= photo.user.firstname.titleize %> <%= photo.user.lastname.titleize %>
								<small class="avatar-meta block">
									<%= photo.user.city.titleize %>, <%= photo.user.state %>
									<% if @location %>
										<small class="pull-right">
											<%= Geocoder::Calculations.distance_between(@location, [photo.user.latitude, photo.user.longitude]).round(2) %> miles
										</small>
									<% end %>									
								</small>
							</a>
						</div>

						<ul class="tools">
						  <li class="fav"> <i class="fa fa-eye"></i>
						    <a title="See fans of this screenshot" href="#"><%= photo.impressionist_count %></a>
						  </li>
						  <li class="cmnt"> <i class="fa fa-comment"></i>
						  	<%= photo.comments.count %>
						  </li>
						  <li class="views"> <i class="fa fa-heart"></i>
						  	<%= photo.likes.count %>
				  		</li>
				  		<li class="pull-right">
				  			<%= time_ago_in_words(photo.created_at) %>
				  		</li>
						</ul>

					</div>
				</div>
			</div> <!--/ .col-* -->
		<% end %>

		</div> <!--/ .row -->

		<div class="text-center">
			<%= will_paginate @photos, renderer: BootstrapPagination::Rails %>				
		</div>

	</div>
</div>
