<div id="filterrific_results" class="shots">
	<div class="container">
		<p><%= page_entries_info @users, :model => 'user' %></p>	
		<div class="row">
		<% @users.each do |user| %>
			<% if user.photos.count > 0 %>
			<div class="shot-column col-sm-6 col-md-4">
				<div class="shot">
					<% if params[:filterrific] && params[:with_category] %>
						<a href="<%= user_path(user) %>" class="shot-figure" style="background-image: url(<%= Photo.joins(:project).where('projects.category = ?', params[:filterrific][:with_category]).where(:user_id => user.id).first.original_url(:small) %>)">
						</a>
					<% else %>
						<a href="<%= user_path(user) %>" class="shot-figure" style="background-image: url(<%= user.photos.first.original_url(:small) %>)">
						</a>
					<% end %>
					<div class="shot-info">

						<div class="avatar-user">
							<a class="url" rel="contact" title="" href="<%= user_path(user) %>">
								<% if user.avatar.present? %>
									<%= image_tag user.avatar_url(:thumb), alt: "#{user.firstname.titleize} #{user.lastname.titleize}", id: "avatar", class: "photo" %>
								<% else %>	
									<span class="circle"><span><%= user.firstname[0].upcase %></span></span>
								<% end %>
								<%= user.firstname.titleize %> <%= user.lastname.titleize %>
								<small class="avatar-meta block">
									<%= user.city.titleize %>, <%= user.state %>
									<% if @location %>
										<small class="pull-right">
											<%= Geocoder::Calculations.distance_between(@location, [user.latitude, user.longitude]).round(2) %> miles
										</small>
									<% end %>
								</small>
							</a>
						</div>

						<ul class="tools">
						  <li class="fav"> <i class="fa fa-eye"></i> 
						    <a title="See fans of this photographer" href="#"><%= get_user_total_views(user) %></a>
						  </li>
						  <li class="cmnt"> <i class="fa fa-comment"></i> 
						    <a title="View comments of this photographer" href="#"><%= get_user_total_comments(user) %></a>
						  </li>
						  <li class="views"> <i class="fa fa-heart"></i> 
						  	<a title="View likes of this photographer" href="#"><%= get_user_total_likes(user) %> </a>
					  	</li>
						  <li class="views"> <i class="fa fa-fw fa-child"></i> 
						  	<a title="View followers of this photographer" href="#"><%= user.followers.count %> </a>
					  	</li>					  	
					  	<li class="pull-right">
					  		<%= user.studio ? 'Studio' : 'No Studio' %>, <%= user.for_hire ? 'For Hire' : 'Not For Hire' %>, $<%= user.rate %>
					  	</li>
						</ul>

					</div>
				</div>
			</div> <!--/ .col-* -->
			<% end %>
		<% end %>

		</div> <!--/ .row -->

		<div class="text-center">
			<%= will_paginate @users, renderer: BootstrapPagination::Rails %>				
		</div>		
 
	</div>
</div>	