<div class="analytics-single">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<section class="analytics-section stats">
					<%= content_tag "div", id: "data-shots", data: {stats: get_shots_per_month(@user)} do %>
            <% end %>
					<h3 class="header">Stats</h3>
					<h5 class="subheader">Views of Your Shots <span>Last 7 months</span></h5>
					<canvas id="canvas_stats" height="400" width="600"></canvas>	
				</section>

				<section class="analytics-section">
					<h5 class="subheader">Your Most Popular Shots</h5>

					<div class="table-block">
						<div class="row table-th">
							<div class="col-md-6">
								<ul class="list-inline">
									<ul class="list-inline text-xs-center text-sm-center text-md-left" role="tablist">
									    <li role="presentation" class="active"><a href="#30-days" aria-controls="30-days" role="tab" data-toggle="tab">Last 30 Days</a></li>
									    <li role="presentation"><a href="#90-days" aria-controls="90-days" role="tab" data-toggle="tab">Last 90 Days</a></li>
									    <li role="presentation"><a href="#last-year" aria-controls="last-year" role="tab" data-toggle="tab">Last Year</a></li>
									    <li role="presentation"><a href="#all-time" aria-controls="all-time" role="tab" data-toggle="tab">All Time</a></li>
									  </ul>
								</ul>
							</div>

							<div class="col-md-3 visible-md-block visible-lg-block">
								<ul class="list-inline text-center">
									<li> <i class="fa fa-calendar"></i> </li>
								</ul>
							</div>

							<div class="col-md-3 visible-md-block visible-lg-block">
								<ul class="list-inline text-center">
									<li style="width: 35px"> <i class="fa fa-eye"></i> </li>
									<li style="width: 35px"> <i class="fa fa-heart"></i> </li>
									<li style="width: 35px"> <i class="fa fa-comment"></i> </li>
								</ul>
							</div>
						</div>

						<div class="row table-td tab-content">
							<% if popular_shot_last30days(@user) %>
								<div role="tabpanel" class="tab-pane active" id="30-days">
									<div class="col-sm-6">
										<ul class="list-inline text-xs-center text-sm-left">
											<li>
												<a href="<%= photo_path(popular_shot_last30days(@user)) %>">
													<img src="<%= popular_shot_last30days(@user).original_url(:small) %>" alt="" width="50" height="50"/>
													<%= Project.find(popular_shot_last30days(@user).project_id).category %>
												</a>
											</li>
										</ul>
									</div>

									<div class="col-sm-3">
										<ul class="list-inline text-center">
											<li> <i class="fa fa-calendar visible-xs"></i> <%= popular_shot_last30days(@user).created_at.strftime("%B %d, %Y") %> </li>
										</ul>
									</div>

									<div class="col-sm-3">
										<ul class="list-inline text-center">
											<li> <i class="fa fa-eye visible-xs"></i> <%= get_shot_views_count(popular_shot_last30days(@user)) %> </li>
											<li> <i class="fa fa-heart visible-xs"></i> <%= get_shot_likes_count(popular_shot_last30days(@user)) %> </li>
											<li> <i class="fa fa-comment visible-xs"></i> <%= get_shot_comments_count(popular_shot_last30days(@user)) %> </li>
										</ul>
									</div>
								</div>
							<% end %>

							<% if popular_shot_last90days(@user) %>
								<div role="tabpanel" class="tab-pane" id="90-days">
									<div class="col-sm-6">
										<ul class="list-inline text-xs-center text-sm-left">
											<li>
												<a href="<%= photo_path(popular_shot_last90days(@user)) %>">
													<img src="<%= popular_shot_last90days(@user).original_url(:small) %>" alt="" width="50" height="50"/>
													<%= Project.find(popular_shot_last90days(@user).project_id).category %>
												</a>
											</li>
										</ul>
									</div>

									<div class="col-sm-3">
										<ul class="list-inline text-center">
											<li> <i class="fa fa-calendar visible-xs"></i> <%= popular_shot_last90days(@user).created_at.strftime("%B %d, %Y") %> </li>
										</ul>
									</div>

									<div class="col-sm-3">
										<ul class="list-inline text-center">
											<li> <i class="fa fa-eye visible-xs"></i> <%= get_shot_views_count(popular_shot_last90days(@user)) %> </li>
											<li> <i class="fa fa-heart visible-xs"></i> <%= get_shot_likes_count(popular_shot_last90days(@user)) %> </li>
											<li> <i class="fa fa-comment visible-xs"></i> <%= get_shot_comments_count(popular_shot_last90days(@user)) %> </li>
										</ul>
									</div>
								</div>
							<% end %>

							<% if popular_shot_last365days(@user) %>
								<div role="tabpanel" class="tab-pane" id="last-year">
									<div class="col-sm-6">
										<ul class="list-inline text-xs-center text-sm-left">
											<li>
												<a href="<%= photo_path(popular_shot_last365days(@user)) %>">
													<img src="<%= popular_shot_last365days(@user).original_url(:small) %>" alt="" width="50" height="50"/>
													<%= Project.find(popular_shot_last365days(@user).project_id).category %>
												</a>
											</li>
										</ul>
									</div>

									<div class="col-sm-3">
										<ul class="list-inline text-center">
											<li> <i class="fa fa-calendar visible-xs"></i> <%= popular_shot_last365days(@user).created_at.strftime("%B %d, %Y") %> </li>
										</ul>
									</div>

									<div class="col-sm-3">
										<ul class="list-inline text-center">
											<li> <i class="fa fa-eye visible-xs"></i> <%= get_shot_views_count(popular_shot_last365days(@user)) %> </li>
											<li> <i class="fa fa-heart visible-xs"></i> <%= get_shot_likes_count(popular_shot_last365days(@user)) %> </li>
											<li> <i class="fa fa-comment visible-xs"></i> <%= get_shot_comments_count(popular_shot_last365days(@user)) %> </li>
										</ul>
									</div>
								</div>
							<% end %>

							<% if popular_shot_alltime(@user) %>
								<div role="tabpanel" class="tab-pane" id="all-time">
									<div class="col-sm-6">
										<ul class="list-inline text-xs-center text-sm-left">
											<li>
												<a href="<%= photo_path(popular_shot_alltime(@user)) %>">
													<img src="<%= popular_shot_alltime(@user).original_url(:small) %>" alt="" width="50" height="50"/>
													<%= Project.find(popular_shot_alltime(@user).project_id).category %>
												</a>
											</li>
										</ul>
									</div>

									<div class="col-sm-3">
										<ul class="list-inline text-center">
											<li> <i class="fa fa-calendar visible-xs"></i> <%= popular_shot_alltime(@user).created_at.strftime("%B %d, %Y") %> </li>
										</ul>
									</div>

									<div class="col-sm-3">
										<ul class="list-inline text-center">
											<li> <i class="fa fa-eye visible-xs"></i> <%= get_shot_views_count(popular_shot_alltime(@user)) %> </li>
											<li> <i class="fa fa-heart visible-xs"></i> <%= get_shot_likes_count(popular_shot_alltime(@user)) %> </li>
											<li> <i class="fa fa-comment visible-xs"></i> <%= get_shot_comments_count(popular_shot_alltime(@user)) %> </li>
										</ul>
									</div>
								</div>
							<% end %>

						</div>

					</div>
				</section>

				<section class="analytics-section">
					<div class="row">
						<div class="col-sm-6">

							<h5 class="subheader text-xs-center text-sm-left">Your Biggest Fans</h5>

							<div class="table-block">
								<div class="row visible-lg-block">
									<div class="col-md-12">
										<div class="table-th">
											<ul class="list-inline text-right">
												<li style="width:45px;" class="text-center"> <i class="fa fa-heart"></i> </li>
												<li style="width:45px;" class="text-center"> <i class="fa fa-comment"></i> </li>
											</ul>
										</div>
									</div>
								</div>

								<div class="on-scroll">
									<% get_fans(current_user).each do |fan| %>
										<div class="row table-td">
											<div class="col-md-8">
												<ul class="text-xs-center text-md-left">
													<li>
														<div class="avatar-user">
															<a class="url" rel="contact" title="" href="<%= user_path(fan) %>">
															<% if fan.avatar.present? %>
																	<%= image_tag fan.avatar_url(:thumb), alt: "#{fan.firstname.titleize} #{fan.lastname.titleize}", id: "avatar", class: "photo pull-md-left" %>
																<% else %>	
																	<span class="circle pull-md-left"><span><%= fan.firstname[0].upcase %></span></span>
																<% end %>
																<%= fan.firstname.titleize %> <%= fan.lastname.titleize %>
																<small class="avatar-meta block"> <span><%= pluralize(get_user_total_shots(fan), 'Shot', 'Shots') %></span> | <span><%= pluralize(get_user_total_followers(fan), 'Follower', 'Followers') %></span></small>
															</a>
														</div>
													</li>
												</ul>
											</div>

											<div class="col-md-4">
												<ul class="list-inline text-center">
													<li> <i class="fa fa-heart hidden-lg"></i> <%= get_user_total_likes(fan) %> </li>
													<li> <i class="fa fa-comment hidden-lg"></i> <%= get_user_total_comments(fan) %> </li>
												</ul>
											</div>
										</div>
									<% end %>

							</div>
							</div>

						</div>

						<div class="col-sm-6">

								<h5 class="subheader text-xs-center text-sm-left">Your Favourite Photographers</h5>

								<div class="table-block scroll">
									<div class="row visible-lg-block">
										<div class="col-md-12">
											<div class="table-th">
												<ul class="list-inline text-right">
													<li style="width:45px;" class="text-center"> <i class="fa fa-heart"></i> </li>
													<li style="width:45px;" class="text-center"> <i class="fa fa-comment"></i> </li>
												</ul>
											</div>
										</div>
									</div>

									<div class="on-scroll">

									<% get_fav_photographers(current_user).each do |photographer| %>
										<div class="row table-td">
											<div class="col-md-8">
												<ul class="text-xs-center text-md-left">
													<li>
														<div class="avatar-user">
															<a class="url" rel="contact" title="" href="<%= user_path(photographer) %>">
																<% if photographer.avatar.present? %>
																	<%= image_tag photographer.avatar_url(:thumb), alt: "#{photographer.firstname.titleize} #{photographer.lastname.titleize}", id: "avatar", class: "photo pull-md-left" %>
																<% else %>	
																	<span class="circle pull-md-left"><span><%= photographer.firstname[0].upcase %></span></span>
																<% end %>																
																<%= photographer.firstname.titleize %> <%= photographer.lastname.titleize %>
																<small class="avatar-meta block"> <span><%= pluralize(get_user_total_shots(photographer), 'Shot', 'Shots') %></span> | <span><%= pluralize(get_user_total_followers(photographer), 'Follower', 'Followers') %></span></small>
															</a>
														</div>
													</li>
												</ul>
											</div>

											<div class="col-md-4">
												<ul class="list-inline text-center">
													<li> <i class="fa fa-heart hidden-lg"></i> <%= get_user_total_likes(photographer) %> </li>
													<li> <i class="fa fa-comment hidden-lg"></i> <%= get_user_total_comments(photographer) %> </li>
												</ul>
											</div>
										</div>
									<% end %>

								</div>
							</div>
						</div>

					</div> <!--/ .row -->
				</section>
			</div>

			<div class="col-md-4">

				<section class="analytics-section">

				<section class="analytics-section">
					<h5 class="subheader has-border text-xs-center text-sm-left">Received <span>All Time</span> </h5>

					<ul class="list-inline text-xs-center text-md-left">
						<li> <h6 class="h4 has-bg"> <strong><%= get_user_total_views(@user) %></strong> <span>Viewed Shots</span> </h6> </li>
						<li> <h6 class="h4 has-bg"> <strong><%= get_user_total_likes(@user) %></strong> <span>Likes</span> </h6> </li>
						<li> <h6 class="h4 has-bg"> <strong><%= get_user_total_comments(@user) %></strong> <span>Comments</span> </h6> </li>
					</ul>

				</section>				

					<h5 class="subheader has-border text-xs-center text-sm-left">Received <span>Last 30 Days</span> </h5>
					
					<ul class="list-inline text-xs-center text-md-left">
						<li> <h6 class="h4"><%= get_user_views_last30(@user) %> <span>Viewed Shots</span> </h6> </li>
						<li> <h6 class="h4"><%= get_user_likes_last30(@user) %> <span>Likes</span> </h6> </li>
						<li> <h6 class="h4"><%= get_user_comments_last30(@user) %> <span>Comments</span> </h6> </li>
					</ul>

					<div class="canvas">
						<%= content_tag "div", id: "data-reviews", data: {stats: get_reviews_per_month(@user)} do %>
            <% end %>
						<h4><%= user_total_reviews(@user) %></h4>
						<canvas id="canvas_reviews" height="250" width="600"></canvas>	
						<label>Reviews per Month</label>
					</div>

					<div class="canvas">
						<%= content_tag "div", id: "data-bookings", data: {stats: get_bookings_per_month(@user)} do %>
            <% end %>
						<h4><%= user_total_bookings(@user) %></h4>
						<canvas id="canvas_bookings" height="250" width="600"></canvas>	
						<label>Bookings per Month</label>
					</div>					

					<div class="canvas">
						<%= content_tag "div", id: "data-profile-views", data: {stats: get_profile_views_per_month(@user)} do %>
            <% end %>
						<h4><%= current_user.impressionist_count %></h4>
						<canvas id="canvas_profile-view" height="250" width="600"></canvas>	
						<label>Views of Profile</label>
					</div>

					<div class="canvas">
						<%= content_tag "div", id: "data-project-views", data: {stats: get_project_views_per_month(@user)} do %>
            <% end %>
						<h4><%= get_total_project_count(@user) %></h4>
						<canvas id="canvas_project-view" height="250" width="600"></canvas>
						<label>Views of Projects</label>	
					</div>
				</section>

			</div>
		</div>
	</div>
</div>