<%= render "shared/nav"%>
<%= render "shared/partial_hero__portfolio" %>

<% if current_user && current_user.id == @user.id %>
	<%= render "shared/shots_projects" %>
<% else %>
	<%= render "shared/shots_projects__notuser" %>
<% end %>