.btn-inline {
  font-size: 14px;
  background-color: #fff;
  color: #8a939a;
  text-decoration: none;
  border: 0px;
  display: inline-block;
  outline: 0;
  border: solid 1px transparent !important;
}

/**
* Project Stack Effect * -------------- */
.stack {
    position: relative;
    overflow: visible !important;
}
.stack, .stack:before, .stack:after {
    background: #fff;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.stack:before, .stack:after {   
    content: "";
    position: absolute;
    z-index: -1;
}
.stack:before {
  top: 5px;
  left: -5px;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.stack:after {
  top: 5px; 
  left: -5px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}