<!-- Error messages partial -->

<!-- key refers to the class of the alert box which was hard coded in the controller (true = 'success', false = 'alert') -->
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>