<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- Metas -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"     content="width=device-width, initial-scale=1">
        <meta name="description"  content="<%= @description.present? ? @description.html_safe : "Find a photographer on Photocray" %>">
        <meta name="keywords"     content="">
        <meta name="author"       content="">
        <meta property="og:title" content="<%= @title || "Photocray - Professional Photographer Portfolios" %>">
        <meta property="og:type"  content="Website">
        <meta property="og:url"   content="<%= request.original_url %>">
        <meta property="og:image" content="<%= @og_image || image_url("site_assets/logo.png") %>">
        <%= csrf_meta_tags %>
        
        <!-- Title -->
        <title><%= @title || "Photocray - Professional Photographer Portfolios" %></title>

        <!-- Favicons -->    
        <%= favicon_link_tag %>

        <!-- Stylesheets -->
        <%= stylesheet_link_tag    'application', media: 'all' %>

        <!-- Google fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!-- JS -->
        <%= javascript_include_tag 'application' %>
        
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body class="<%= photos_fullsize? ? "portfolio-single__attachment" : "" %> skin-flat">

        <div class="page-container">
            
            <%= yield %>

            <% unless photos_fullsize? %> 
                <%= render "shared/footer"%>
            <% end %>
        
            <div class="menu-overlay"></div>

        </div>

    </body>
</html>